.list-screen-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #7785db;
  align-items: center;
  justify-content: center;
}
.list-screen-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60vw;
  min-height: 90%;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
  overflow: hidden;
}
.list-screen-content-container h4 {
  margin: 0 auto;
}
.list-screen-list-container {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: scroll;
}
.list-screen-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.list-screen-logo-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.list-screen-header-title {
  font-size: 36px;
  margin-left: 10px;
}
.list-screen-header-button {
  width: 160px;
}

.logo-image {
  width: 72px;
  height: 72px;
}
